EXPO_PUBLIC_APP_NAME=WA Status Saver
EXPO_PUBLIC_PRIMARY_COLOR=#25D366

EXPO_PUBLIC_ADMOB_APP_ID=
EXPO_PUBLIC_INTERSTITIAL_ID=
EXPO_PUBLIC_BANNER_ID=
EXPO_PUBLIC_APP_OPEN_ID=


EXPO_PUBLIC_SHOW_ADS=
EXPO_PUBLIC_INTERSTITIAL_FREQUENCY=

